body {
	margin-inside: 30%;
	font-size: medium;
}

p {
	color: black;
}

html
{
	background: lightgrey;
	text-align: center;
	float: left;
}


img {
	align-content: center;
	height: 900px;
	width: 700px;
	float: right;
	
}

h1 {
	text-align: center;
	color: black;
}

h2 {
	color: black;
}

h3 {
	color: black;
}

h4 {
	color: black;
}

.dj {
	height: 80px;
	width: 80px;
	float: center;
}
